---
layout: page
title: Supported Controllers
permalink: /controllers/
---

<h2>Supported Controllers</h2>

There are currently  {{ site.posts | size }} controllers supported within the Modality toolkit.

{% capture posts %}
  {% for post in site.posts %}
    |{{ post.title | downcase }}#{{ post.url }}#{{ post.title }}
  {% endfor %}
{% endcapture %}
{% assign sortedposts = posts | split: '|' | sort %}
<ul class="controllers">
{% for post in sortedposts %}
    {% assign postitems = post | split: '#' %}
    <li><a href="{{ postitems[1] }}">{{ postitems[2] }}</a></li>
{% endfor %}
</ul>

<h2>Wanted: new controller descriptions</h2>

Your controller is missing?
Write a description yourself and contact the Modality Team to share what you made. 
It is easy, get started with

{% highlight text %}
MKtl('yourcontroller').explore;
{% endhighlight %}
