The work has been funded by: 
<a target="_blank" href="http://kulturrad.no">Norwegian Arts Council</a>, 
<a target="_blank" href="https://www.bergen.kommune.no/kultur">City of Bergen</a>,
<a target="_blank" href="http://www.kulturkontaktnord.org/">Nordic Culture Point</a>,
<a target="_blank" href="http://www.nordiskkulturfond.org/">Nordic Culture Fund</a>, and 
<a target="_blank" href="http://stimuleringsfonds.nl/nl/actueel/toekenningen/modality_work_group/">Stimuleringsfonds voor de creatieve industry (Creative Industry Fund NL)</a>.
