/**
 * Site header
 */
.site-header {
/*    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
*/
    /*min-height: 56px;*/

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    padding-right: $spacing-unit;
    float: right;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
/*        &:not(:first-child) {
            margin-left: 20px;
        }
*/    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

ul.controllers {
        list-style: circle; 
}

.controller-box {
    background-color: #F8DCC8;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    min-height: 250px;
}


.controllerDescription {
    list-style: none;
    margin-top: -10px;
    margin-left: -10px;
}

.editDeclare {
    font-size: 70%;
    text-align: right;
}

.controllerfig {
    background-color: #FFF;
    border-width: 5px;
    border-color: #FFF;
    border-style: solid; 
}

.boxControllerfig {
    float: right;    
    background-color: #FFF;
    border-width: 5px;
    border-color: #FFF;
    border-style: solid; 
}

img.controller {
    max-width:  200px;
    max-height: 200px;
    align: none;
}

.grid-item { 
    width: 20%;
    background-color: #F8DCC8;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    padding: 10px;
    text-align: center;
    .name {
        font-size: 80%;
    }
    img {
        max-heigtht: 80px;

    }
}

.team {
    background-color: #F8DCC8;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 8px;
}

.teamMember {
    // margin: 10px;
    // padding-left: 20px;
    padding-bottom: 3px;
}

ul.nav {
    list-style: none; 
    border-top: 1px solid #666;
    padding-left: 0px;
    text-indent: 0px;
    margin-left: 0px;

    margin-bottom: 15px;
}
ul.nav li {
    border-bottom: 1px solid #666;
    margin-left: 0px;
}

ul.nav li:before {
    content: "";
    margin-left: 0px;
}

ul.nav a, ul.nav a:visited {
    padding: 5px 5px 5px 15px;
    display: block;
    width: 160px;
    text-decoration: none;
    background-color: #F8DCC8;
    background-color: rgba(255, 255, 255, 0.5);
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
    color: #E4713C;
    background-color: #F8DCC8;
    background-color: rgba(255, 255, 255, 0.5);
}

ul.contact-list {
    list-style: none; 
    padding-left: 0px;
    text-indent: 0px;
    margin-left: 0px;

    margin-bottom: 15px;
}
ul.contact-list li {
    margin-left: 0px;
}

/**
 * Site footer
 */
.site-footer {
    /*border-top: 1px solid $grey-color-light;*/

/*    background: #E4713C;
    background: rgba(255, 255, 255, 0.5);
*/
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.logotext {
    padding-right: 15px;
    padding-left: 15px;
}

.social {
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    text-align: right;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(70% - (#{$spacing-unit} / 2));
    width:         calc(70% - (#{$spacing-unit} / 2));
}


.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
